<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <meta name="generator" content="Pelican" />

        {% block meta_tags_in_head %}{% endblock meta_tags_in_head %}

        <meta name="robots" content="{% block robots %}index,follow{% endblock %}">

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body id="index" class="home">
        <h7 class="site-header">
            <a href="{{ SITEURL }}">{{ SITENAME }}</a>
        </h7>

        {% block content %}
        {% endblock %}

        <footer>
            <hr />
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img
                    alt="Creative Commons Licence"
                    style="border-width:0"
                    src="http://i.creativecommons.org/l/by/4.0/80x15.png"
                />
            </a>
        </footer>

    </body>
</html>
